@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme {
  --color-defined-green: #00a86a;
  --color-defined-orange: #f5841e;
  --color-defined-blue: #348dcb;
  --color-defined-brown: #333333;
  --color-defined-white: #f7f7f7;

  --breakpoint-xxl: 1780px;
  --breakpoint-xl: 1440px;
  --breakpoint-xlg: 1280px;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 760px;
  --breakpoint-sm: 280px;

  --font-outfit: "Outfit", sans-serif;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/Outfit/Outfit-VariableFont_wght.ttf");
}

@layer base {
  html {
    font-family: var(--font-outfit);
  }
  button {
    cursor: pointer;
  }
}
